
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
    <style>
        body{
            background-color:#83d8eb;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            
        }
        h1{
            text-align: center;
            margin-top: 10%;
        }
        h3{
            text-align: center;
        }
        p{
            text-align: center;
            margin-bottom: 0%;
        }
    </style>
</head>
<body>
    <h1><strong>Edilson</strong> Jose Pateguana</h1>
    <h3>Este web site ainda esta em desevolvimento, Volve mais tarde!</h3>
    <p>&copy edilson</p>
</body>
</html>
